<div class="add-form mt-5">
    <div class="container">
        <div class="card p-4">
            <div class="title-wrap">
                <div class="text-center">
                    <h2>Category Edit</h2>
                </div>
            </div>
            <form [formGroup]="categoryEditForm">
                <div class="mb-3">
                    <label class="form-label">Category Type</label>
                    <input
                        [class.is-invalid]="categoryEditForm.get('categoryType')?.errors && categoryEditForm.get('categoryType')?.touched"
                        type="text" class="form-control" formControlName="categoryType">
                    <div *ngIf="categoryEditForm.get('categoryType')?.errors && categoryEditForm.get('categoryType')?.touched"
                        class="invalid-feedback">
                        Category Type is required
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Category Name</label>
                    <input
                        [class.is-invalid]="categoryEditForm.get('categoryName')?.errors && categoryEditForm.get('categoryName')?.touched"
                        type="categoryName" class="form-control" formControlName="categoryName">
                    <div *ngIf="categoryEditForm.get('categoryName')?.errors && categoryEditForm.get('categoryName')?.touched"
                        class="invalid-feedback">
                        Category Name is required
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" (click)="updateCategory()" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-primary ms-2" (click)="backToList()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>